@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Fredoka+One&family=Caveat:wght@400;500;600;700&display=swap');

:root {
    --purple: #9e00ca;
    --orange: #f88036;
    --blue: #0FA3B1;
    --black: #02020A;
    --white: #F5F5F5;
    --shadow: #450057;
    --hover: #bc2fe3;
    --exit-hover: #ff9a5c;
  }

* {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    /* border: 1px solid lightgray; */
}

body {
    background-color: var(--white);
}

h1, h2 {
    font-family: "Fredoka One";
}

button {
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    justify-content: center;
}

button:hover {
    background-color: var(--hover);
}

a {
    color: var(--purple);
}

a:hover {
    color: var(--hover);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p {
    padding: 20px;
}

h1 {
    /* background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: none;
    background-size: cover; */
    width: 100%;
    text-align: center;
    color: var(--purple);
    padding: 120px 20px 20px;
    font-size: 7rem;
}

h2 {
    text-align: center;
    background-color: var(--purple);
    color: white;
    padding: 100px 20px 50px;
    font-size: 3rem;
}

h3 {
    color: var(--shadow);
    font-size: 2rem;
}

ul {
    padding: 10px 100px;
}

li {
    padding: 5px;
}

.text-block {
    width: 60%;
    justify-content: center;
    margin: 25px;
}

.tagline {
    text-align: center;
    font-family: "Fredoka One";
    font-size: 1.2rem;
    width: 60%;
    margin: 25px;
}

.quick-exit-note {
    font-family: "Fredoka One";
    font-size: 1.2rem;
    color: var(--orange)
}

#project-header {
    width: 100%;
    text-align: center;
    background-color: var(--purple);
    color: white;
    padding: 100px 20px 50px;
    margin: 25px;
    font-size: 3rem;
}

#project-header img {
    width: 150px;
    padding: 0;
    margin: 0;
}

#home-projects {
    background-color: var(--white);
    color: var(--purple);
    padding: 15px;
}

#project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    padding: 25px;
    margin: 50px;
    background-color: white;
    border: solid 1px var(--shadow);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
}

label, input {
    width: 50%;
    padding: 5px;
    margin: 15px;
}

/* -------------------------------------- project page -------------------------------- */

#project-page-layout {
    display: flex;
    flex-direction: row;
    /* align-content: space-around; */
    padding: 20px;
}

#project-image {
    width: 450px;
}

#project-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#project-info p {
    width: 40%;
    padding: 5px;
}

.project-and-pledge {
    padding: 30px;
    width: 70%;
}

#pledge-list {
    list-style: none;
    padding: 0;
}

#pledge-list li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid var(--shadow);
    border-radius: 20px;
}