/* * {
    border: solid 1px black;
} */

.nav-links {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: var(--white);
    justify-content: space-between;
    box-shadow: 0px 15px 15px -15px var(--shadow);
}

.nav-links div {
    display: flex;
    height: fit-content;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.nav-links a, .nav-links button {
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
}

.nav-links a:hover, .nav-links button:hover {
    background-color: var(--hover);
    color: white;
}

.nav-links p {
    font-size: 2rem;
}

#title {
    font-family: "Fredoka One";
    color: var(--purple);
    margin: 5px;
}

#quick-exit {
    background-color: var(--orange);
    color: var(--white);
}

#quick-exit:hover {
    background-color: var(--exit-hover);
}